snippet ruby
\`\`\`rb
${0}
\`\`\`
endsnippet

snippet sql
\`\`\`sql
${0}
\`\`\`
endsnippet

snippet mrsql
### ${1:Table}

##### Query

#### ${2:MIN}

\`\`\`sql
${3}
\`\`\`

##### Explain

\`\`\`sql
${4}
\`\`\`
endsnippet

snippet usageping
### ${1:Table}

##### Queries:

#### MIN

\`\`\`sql
${2}
\`\`\`

##### Explain

\`\`\`sql
${3}
\`\`\`

#### MAX

\`\`\`sql
${4}
\`\`\`

##### Explain

\`\`\`sql
${5}
\`\`\`

#### COUNT

\`\`\`sql
${6}
\`\`\`

##### Explain

\`\`\`sql
${7}
\`\`\`
endsnippet
