snippet "\b(de)?f" "def <name>..." r
def ${1:function_name} ${2:*args}
	${0:#TODO: add this}
end
endsnippet

snippet pry
binding.pry
${0}
endsnippet

snippet hashbang
#!/usr/bin/env ruby -wU

${0}
endsnippet

snippet class "class <class_name> def initialize ... end end"
class ${1:class_name}
	def initialize(${2:*args})
		$0
	end
end
endsnippet

snippet defr "Function with rescue" b
def ${1:function_name} ${2:*args}
	${0:#TODO: add this}
rescue => e
	failed e
end
endsnippet
