[submodule "dotbot-asdf"]
	path = dotbot-asdf
	url = https://github.com/sobolevn/dotbot-asdf.git
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "dotbot-plugins/dotbot-brew"]
	path = dotbot-plugins/dotbot-brew
	url = https://github.com/wren/dotbot-brew.git
[submodule "dotbot-plugins/dotbot-duti"]
	path = dotbot-plugins/dotbot-duti
	url = https://github.com/andrii-rieznik/dotbot-duti
[submodule "dotbot-plugins/dotbot-sudo"]
	path = dotbot-plugins/dotbot-sudo
	url = https://github.com/DrDynamic/dotbot-sudo
