snippet "\b(de)?f" "def <name>..." r
def ${1:function_name} ${2:${3:*args}}
	${0:#TODO: add this}
end
endsnippet

snippet pry
binding.pry
${0}
endsnippet

snippet hashbang
#!/usr/bin/env ruby -wU

${0}
endsnippet
