; vi: ft=clojure
{:devices {:topre   [{:vendor_id 2131 :product_id 308}]
           :pikatea [{:vendor_id 9025 :product_id 32822}]
           :macbook [{:is_built_in_keyboard true}]
           :nuphy   [{:vendor_id 6645 :product_id 12869}]
           :nuphy_dongle   [{:vendor_id 6645 :product_id 12871}]
           :mouse   [{:vendor_id 5426 :product_id 123}]
           ; :macropad [{:vendor_id 1578 :product_id 16770}]
           :qmkbundle [
             {:vendor_id 6645}
             {:is_built_in_keyboard true}
             {:vendor_id 1452, :product_id 834 }
            ]
           :lemokey [{:vendor_id 13869}]}

 :profiles {:Goku {:default true
                   :sim     500     ;; simultaneous_threshold_milliseconds (def: 50)
                        ;; keys need to be pressed within this threshold to be considered simultaneous
                   :delay   500    ;; to_delayed_action_delay_milliseconds (def: 500)
                        ;; basically it means time after which the key press is count delayed
                   :alone   500    ;; to_if_alone_timeout_milliseconds (def: 1000)
                        ;; hold for 995s and single tap registered; hold for 1005s and seen as modifier
                   :held    100   ;; to_if_held_down_threshold_milliseconds (def: 500)
                        ;; key is fired twice when 500 ms is elapsed (otherwise seen as a hold command)
                   }}

 :applications {:firefox      ["^org\\.mozilla\\.firefox"]
                :firefoxdev   ["^org\\.mozilla\\.firefoxdeveloperedition$"]
                :firefoxnight ["^org\\.mozilla\\.nightly$"]
                :finder       ["^com\\.apple\\.finder"]
                :mail         ["^com\\.apple\\.mail"]
                :onep         ["^com\\.1password\\.1password"]
                :kitty        ["^net\\.kovidgoyal\\.kitty"]
                :reeder       ["^com\\.reederapp\\.5\\.macOS"]
                :safari       ["^com\\.apple\\.Safari"]
                :neovide      ["^com\\.neovide\\.neovide"]
                :omnifocus    ["^com\\.omnigroup\\.OmniFocus3$"]
                :firefoxes    ["^org\\.mozilla\\.firefox", "^org\\.mozilla\\.firefoxdeveloperedition$", "^org\\.mozilla\\.nightly$"]
                :terminal     ["^com\\.apple\\.Terminal"]
                :ghostty      ["^com\\.mitchellh\\.ghostty"]
                :terminals    ["^io\\.alacritty", "^net\\.kovidgoyal\\.kitty", "^com\\.apple\\.Terminal", "^com\\.github\\.wez\\.wezterm", "^com\\.mitchellh\\.ghostty"]}

 :templates {:launcher    "open -a \"%s.app\""
             :url    "open \"%sp\""
             :alfred      "osascript -e 'tell application id \"com.runningwithcrayons.Alfred\" to run trigger \"%s\" in workflow \"%s\"'"
             :monitor_control "~/.zsh/bin/m1ddc display 1 set input 15"
             :applescript "osascript \"$HOME/iCloud/Internal/custom/applescripts/%s.scpt\""
             :hammerspoon "osascript -e 'tell application \"Hammerspoon\" to execute lua code \"%s\"'"}

 :froms {:butt {:sim [:left_shift :right_shift]
                :simo {:interrupt false
                       :uorder :insensitive
                       :upwhen :any
                       :dorder :insensitive}}}

  ;  :simo {:interrupt true
  ;         :dorder :strict
  ;         :uorder :strict_inverse
  ;         :afterup :f19}}]}
  ; main list
 :main
 [
  {:des "fn key -> hyper key or f16 if alone"
   :rules
   [:qmkbundle
    [:##fn nil nil {:alone :##f16 :held :!!left_shift}]
    [:##left_control :!!left_shift nil {:alone :##f16}]
    [:##caps_lock :right_control nil {:alone :##f15}]
    ; [:caps_lock :right_control nil {:alone :##f15}]
    [:##f15 :right_control nil {:alone :##f15}]
    ]}

 ; {:des "lemokey"
 ;   :rules
 ;   [:lemokey
 ;    [:##fn nil nil {:alone :##f16 :held :!!left_shift}]
 ;    [:##right_control :!!left_shift nil {:alone :##f16}]
 ;    [:##caps_lock :left_control nil {:alone :##f15}]]}

  ; {:des "asdf1" :rules           [[:##fn nil nil {{:alone :##f16 :held :!!left_shift} :is_built_in_keyboard}]]}
  ; {:des "asdf2" :rules           [[:##left_control :!!left_shift nil {{:alone :##f16} :is_built_in_keyboard}]]}
  ; {:des "asdf3" :rules           [[:##caps_lock :right_control nil {{:alone :##f15} :is_built_in_keyboard}]]}
  ; {:des "asdf4" :rules           [[:##f15 :right_control nil {{:alone :##f15} :is_built_in_keyboard}]]}

  {:des "shift + delete -> forward delete" :rules         [[:!Sdelete_or_backspace :##delete_forward]]}

  {:des "|mail| <c-c> to ⌘⇧c (conversations)" :rules      [[:!Tc :!CSc :mail]]}
  {:des "|mail| <c-/> to ⌘⌥f" :rules                      [[:!Wslash :!COf :mail]]}
  ; {:des "|mail| ⌘⌥return sends" :rules                    [[:!Creturn_or_enter :!SCd :mail]]}

  ; {:des "|reeder| ⌘1 -> ⌥1" :rules                        [[:!C1 :!O1 :reeder]]}
  ; {:des "|reeder| ⌘2 -> ⌥2" :rules                        [[:!C2 :!O2 :reeder]]}
  {:des "|reeder| ⌘⇧r -> R" :rules                        [[:!CSr :r :reeder]]}

  {:des "|safari| undo close window" :rules               [[:!CSn :!CSt :safari]]}
  {:des "|safari| undo close tab" :rules                  [[:!CSz :!CSt :safari]]}
  {:des "|safari| private window" :rules                  [[:!CSp :!CSn :safari]]}

  {:des "|ghostty| alt+f" :rules                  [[:!CSf :!Of :ghostty]]}
  {:des "|ghostty| alt+g" :rules                  [[:!CSg :!Og :ghostty]]}
  {:des "|ghostty| opt+k" :rules                  [[:!Ck :!Ok :ghostty]]}
  {:des "|ghostty| opt+p" :rules                  [[:!Cp :!Op :ghostty]]}
  ; {:des "|ghostty| opt+o" :rules                  [[:!Co :!Oo :ghostty]]}
    ;; T  | left_control
    ;; O  | left_option
    ;; C  | left_command
    ;; S  | left_shift
; # keybind = cmd+shift+f=opt+f
; # keybind = cmd+shift+g=opt+g
; # keybind = cmd+k=opt+k
; # keybind = cmd+p=opt+p
; # keybind = cmd+o=opt+o

  {:des "|1password| easier shortcut" :rules              [[:!Cl :!Cf :onep]]}

  {:des "|terminals| vim history fix" :rules              [[:!Ti :f6 :terminals]]}

  {:des "|terminal| ⌥ delete" :rules                      [[:!Odelete_or_backspace :!Tw :terminal]]}
  {:des "|terminal| ⌘ delete" :rules                      [[:!Cdelete_or_backspace :!Tu :terminals]]}
  {:des "|terminal| ⌘ return" :rules                      [[:!Creturn_or_enter :!Oreturn_or_enter :terminals]]}
  {:des "|terminal| ⌘ <- to ctrl-a" :rules                [[:!Cleft_arrow :!Ta :terminal]]}
  {:des "|terminal| ⌘ -> to ctrl-e" :rules                [[:!Cright_arrow :!Te :terminal]]}
  {:des "|terminal| ⌘ <- to ctrl-a" :rules                [[:!CTh :!Ta :terminal]]}
  {:des "|terminal| ⌘ -> to ctrl-e" :rules                [[:!CTl :!Te :terminal]]}

  ;; !  | means mandatory
    ;; #  | means optional
    ;; C  | left_command
    ;; T  | left_control
    ;; O  | left_option
    ;; S  | left_shift
    ;; F  | fn
    ;; Q  | right_command
    ;; W  | right_control
    ;; E  | right_option
    ;; R  | right_shift
    ;; P  | caps_lock
    ;; !! | mandatory command + control + optional + shift (hyper)
    ;; ## | optional any,w
  {:des "|omnifocus| defer to tomorrow" :rules            [[:!Cright_arrow [:applescript "defer-to-tomorrow"] :omnifocus]]}

  {:des "vim ctrl arrow key left" :rules                  [[:!W##h :##left_arrow]]}
  {:des "vim ctrl arrow key right" :rules                 [[:!W##l :##right_arrow]]}
  {:des "vim ctrl arrow key up" :rules                    [[:!W##k :##up_arrow]]}
  {:des "vim ctrl arrow key down" :rules                  [[:!W##j :##down_arrow]]}
  {:des "vim ctrl arrow key left" :rules                  [[:!T##h :##left_arrow]]}
  {:des "vim ctrl arrow key right" :rules                 [[:!T##l :##right_arrow]]}
  {:des "vim ctrl arrow key up" :rules                    [[:!T##k :##up_arrow]]}
  {:des "vim ctrl arrow key down" :rules                  [[:!T##j :##down_arrow]]}

  ; {:des "clear notifications" :rules                      [[:!!delete_or_backspace [:applescript "notifications/close"]]]}
  {:des "clear notifications" :rules                      [[:!!delete_or_backspace [:alfred "clearnots" "com.garys.stuff"]]]}

  ; {:des "clear notifications" :rules                      [[:f18 [:applescript "notifications/close"]]]}
  ; {:des "activate notification" :rules                    [[:!!a [:applescript "notifications/activate"]]]}
  ; {:des "reply to notification" :rules                    [[:!!r [:applescript "notifications/reply"]]]}

  {:des "mousetest?" :rules                               [[:keypad_1 :f15 :mouse]]}
  {:des "mousetest?2" :rules                              [[:keypad_2 :!Sf15 :mouse]]}
  {:des "double shift" :rules                              [[:butt :f19 ]]}
  ; {:des "mousetest?2" :rules                              [[:butt :f19 ]]}

  ; {:des "left space bigger" :rules                  [[:!Sspacebar [:hammerspoon "w_key()"]]]}
  ; {:des "right space bigger" :rules                 [[:!Rspacebar [:hammerspoon "s_key()"]]]}

  ; {:des "b launch brave" :rules              [[{:key :b :modi [:left_shift, :right_shift]} [:launcher "/Applications/Brave Browser"]]]}
  ; {:des "c launch disCord" :rules            [[{:key :c :modi [:left_shift, :right_shift]} [:launcher "/Applications/Discord"]]]}
  ; {:des "d launch firefox dev" :rules        [[{:key :d :modi [:left_shift, :right_shift]} [:launcher "/Applications/Firefox Developer Edition"]]]}
  ; {:des "e launch Email" :rules              [[{:key :e :modi [:left_shift, :right_shift]} [:launcher "/System/Applications/Mail"]]]}
  ; {:des "f launch firefox" :rules            [[{:key :f :modi [:left_shift, :right_shift]} [:launcher "/Applications/Firefox"]]]}
  ; {:des "g launch gitlab local" :rules       [[{:key :g :modi [:left_shift, :right_shift]} [:launcher "/Applications/Safari Technology Preview"]]]}
  ; {:des "j Just fullscreen pls" :rules       [[{:key :j :modi [:left_shift, :right_shift]} [:!!f]]]}
  ; {:des "k launch wezterm" :rules            [[{:key :k :modi [:left_shift, :right_shift]} [:launcher "/Applications/Ghostty"]]]}
  ; {:des "l launch sLack" :rules              [[{:key :l :modi [:left_shift, :right_shift]} [:launcher "/Applications/Slack"]]]}
  ; {:des "m launch messages" :rules           [[{:key :m :modi [:left_shift, :right_shift]} [:launcher "/System/Applications/Messages"]]]}
  ; {:des "o launch omnifocus" :rules          [[{:key :o :modi [:left_shift, :right_shift]} [:launcher "/Applications/Omnifocus"]]]}
  ; {:des "p launch sPotify" :rules            [[{:key :p :modi [:left_shift, :right_shift]} [:launcher "/Applications/Spotify"]]]}
  ; {:des "r launch reeder" :rules             [[{:key :r :modi [:left_shift, :right_shift]} [:launcher "/Applications/Reeder"]]]}
  ; {:des "s launch safari" :rules             [[{:key :s :modi [:left_shift, :right_shift]} [:launcher "/Applications/Safari"]]]}
  ; {:des "t launch terminal" :rules           [[{:key :t :modi [:left_shift, :right_shift]} [:launcher "/System/Applications/Utilities/Terminal"]]]}
  ; {:des "v launch macVim" :rules             [[{:key :v :modi [:left_shift, :right_shift]} [:launcher "/Applications/Neovide"]]]}
  ; {:des "first monitor" :rules               [[{:key :1 :modi [:left_shift, :right_shift]} [:hammerspoon "moveToLeftScreen()"]]]}
  ; {:des "second monitor" :rules              [[{:key :2 :modi [:left_shift, :right_shift]} [:hammerspoon "moveToMiddleScreen()"]]]}
  ; {:des "third monitor" :rules               [[{:key :3 :modi [:left_shift, :right_shift]} [:hammerspoon "moveToRightScreen()"]]]}
  ; {:des "simultaneous j l press to F19" :rules [[[:left_shift :right_shift] nil nil {:alone :left_shift :held :f19}]]}
  ; {:des "piss" :rules [:sim [:f :j]
  ;  :simo {:interrupt true
  ;         :dorder :strict
  ;         :uorder :strict_inverse
  ;         :afterup :f19}}]}

  ; {:des "a left side?" :rules                [[{:key :a :modi [:left_shift, :right_shift]} [:!TOSleft_arrow]]]}
  ; {:des "; right side?" :rules               [[{:key :semicolon :modi [:left_shift, :right_shift]} [:!TOSright_arrow]]]}

; {:des "moom stuff"
;              :rules [
;                      [:!Ccaps_lock nil nil {:alone ["moom" 1] :held :##Cleft_control}]
;                      [:##caps_lock [:##Cleft_control]]
;                      [:escape [:vk_none] :moom {:afterup ["moom" 0]}]
;                      [:h [:!TOSleft_arrow] :moom {:afterup ["moom" 0]}]
;                      [:j [:!TOSdown_arrow] :moom {:afterup ["moom" 0]}]
;                      [:k [:!TOSup_arrow] :moom {:afterup ["moom" 0]}]
;                      [:l [:!TOSright_arrow] :moom {:afterup ["moom" 0]}]
;                      ; [:w [:!TOSw] :moom {:afterup ["moom" 0]} ]
;                      [:s [:!TOSs] :moom {:afterup ["moom" 0]}]
;                      [:1 [:hammerspoon "moveToLeftScreen()"] :moom {:afterup ["moom" 0]}]
;                      [:2 [:hammerspoon "moveToRightScreen()"] :moom {:afterup ["moom" 0]}]
;                      [:w [:hammerspoon "w_key()"] :moom {:afterup ["moom" 0]}]
;                      [:d [:hammerspoon "d_key()"] :moom {:afterup ["moom" 0]}]
;                      ]}
;
;
; {:des "also moom stuff"
;              :rules [
;                      [:!Cf15 nil nil {:alone ["moom" 1] :held :##Cleft_control}]
;                      [:escape [:vk_none] :moom {:afterup ["moom" 0]}]
;                      [:h [:!TOSleft_arrow] :moom {:afterup ["moom" 0]}]
;                      [:j [:!TOSdown_arrow] :moom {:afterup ["moom" 0]}]
;                      [:k [:!TOSup_arrow] :moom {:afterup ["moom" 0]}]
;                      [:l [:!TOSright_arrow] :moom {:afterup ["moom" 0]}]
;                      ; [:w [:!TOSw] :moom {:afterup ["moom" 0]} ]
;                      [:s [:!TOSs] :moom {:afterup ["moom" 0]}]
;                      [:1 [:hammerspoon "moveToLeftScreen()"] :moom {:afterup ["moom" 0]}]
;                      [:2 [:hammerspoon "moveToRightScreen()"] :moom {:afterup ["moom" 0]}]
;                      [:w [:hammerspoon "w_key()"] :moom {:afterup ["moom" 0]}]
;                      [:d [:hammerspoon "d_key()"] :moom {:afterup ["moom" 0]}]
;                      ]}

; moom:bind({}, "h", function() adjust_moom(0, 0, 5, 10) end)
; moom:bind({}, "l", function() adjust_moom(5, 0, 5, 10) end)
  ; {:des "shortcat thing" :rules              [[{:key :spacebar :modi [:left_shift, :right_shift]} [:!!spacebar]]]}
  ; {:des "shortcat thing" :rules              [[{:key :spacebar :modi [:left_shift, :right_shift]} [:!!spacebar]]]}
  ;; !  | means mandatory
    ;; #  | means optional
    ;; C  | left_command
    ;; T  | left_control
    ;; O  | left_option
    ;; S  | left_shift
    ;; F  | fn
    ;; Q  | right_command
    ;; W  | right_control
    ;; E  | right_option
    ;; R  | right_shift
    ;; P  | caps_lock
    ;; !! | mandatory command + control + optional + shift (hyper)
    ;; ## | optional any,w

  ; {:des "monitor 1" :rules              [[{:key :1 :modi [:left_command, :left_control]} [:hammerspoon "moveToLeftScreen()"]]]}
  ; {:des "monitor 2" :rules              [[{:key :2 :modi [:left_command, :left_control]} [:hammerspoon "moveToMiddleScreen()"]]]}
  ; {:des "monitor 3" :rules              [[{:key :3 :modi [:left_command, :left_control]} [:hammerspoon "moveToRightScreen()"]]]}

  {:des "KVM?" :rules        [[:!Sf24 [:monitor_control]]]}

; {:des "|numpad| *" :rules        [[:keypad_asterisk :vk_consumer_previous]]}
  ; {:des "|numpad| -" :rules        [[:keypad_hyphen :vk_consumer_next]]}

  ; {:des "|numpad| +" :rules           [[:keypad_plus "shortcuts run \"Toggle Light\""]]}
  ; {:des "|numpad| 4" :rules           [[:keypad_4 [:applescript "new_finder_window"]]]}
  ; {:des "|numpad| 8" :rules           [[:keypad_8 "shortcuts run \"Toggle Work Mode\""]]}
  ; {:des "|numpad| 1" :rules           [[:keypad_1 :!!spacebar]]}

  ; {:des "|numpad| 1" :rules           [[:keypad_1 [:hammerspoon "moveToLeftScreen()"]]]}
  ; {:des "|numpad| 2" :rules           [[:keypad_2 [:hammerspoon "moveToMiddleScreen()"]]]}
  ; {:des "|numpad| 1" :rules           [[:keypad_3 [:hammerspoon "moveToRightScreen()"]]]}

  ; {:des "|numpad| 1" :rules           [[:keypad_1 [:alfred "gitlab.linker" "net.deanishe.alfred.firefox-assistant-demo"]]]}
  ;             :!!a "mandatory hyper(control command option shift) a "}

  {:des "meeting" :rules        [[:f1 [:hammerspoon "useLayout([[meeting]])"] :pikatea]]}
  ; {:des "pacman ghost piktea" :rules [[:f2 "shortcuts run \"Pacman Ghost\"" :pikatea]]}
  {:des "work mode" :rules           [[:f3 [:hammerspoon "useLayout([[work]])"] :pikatea]]}
  {:des "game mode" :rules           [[:f4 [:hammerspoon "useLayout([[game]])"] :pikatea]]}
  {:des "chill mode" :rules          [[:f5 [:hammerspoon "useLayout([[chill]])"] :pikatea]]}

  ; {:des "left" :rules           [[:f21 [:hammerspoon "adjust_moom(0,0,5,10)"]]]}
  ; {:des "up" :rules           [[:f22 [:hammerspoon "adjust_moom(0,5,10,5)"]]]}
  ; {:des "down" :rules           [[:f23 [:hammerspoon "adjust_moom(0,0,10,5)"]]]}
  ; {:des "right" :rules           [[:f24 [:hammerspoon "adjust_moom(5,0,5,10)"]]]}
  ; {:des "max" :rules           [[:f19 [:hammerspoon "hs.grid.maximizeWindow()"]]]}

  ; {:des "hyper m to mute twitch" :rules [[:!!m [:applescript "mute_twitch"]]]}
 ;
 ;    ;; or we can break it into two <to>
 ;
 ;    {:main [{:des "hyper 1 to cleanup personal folder"
 ;             :rules [[:!!1 ["rm -r ~/personal" "mkdir ~/personal"]]]}]}
; top right button - spacebar/light?

; home
; end
; page up
; page down

; 4      | mon1
; 6      | mon2
; 8      | mon3
; macro1 | macro2
; prev   | next

  ; {:des "|numpad| numlock" :rules  [[:keypad_num_lock :1 :macropad]]}
  ; {:des "|numpad| /" :rules        [[:keypad_slash :2 :macropad]]}
  ; {:des "|numpad| *" :rules        [[:keypad_asterisk :3 :macropad]]}
  ; {:des "|numpad| backspace" :rules [[:delete_or_backspace :4 :macropad]]}
  ;
  ; {:des "|numpad| 7" :rules        [[:keypad_7 :q :macropad]]}
  ; {:des "|numpad| 8" :rules        [[:keypad_8 :w :macropad]]}
  ; {:des "|numpad| 9" :rules        [[:keypad_9 :e :macropad]]}
  ; {:des "|numpad| -" :rules        [[:keypad_hyphen :r :macropad]]}
  ;
  ; {:des "|numpad| 4" :rules        [[:keypad_4 :a :macropad]]}
  ; {:des "|numpad| 5" :rules        [[:keypad_5 :s :macropad]]}
  ; {:des "|numpad| 6" :rules        [[:keypad_6 :d :macropad]]}
  ; {:des "|numpad| +" :rules        [[:keypad_plus :f :macropad]]}
  ;
  ; {:des "|numpad| 1" :rules        [[:keypad_1 :z :macropad]]}
  ; {:des "|numpad| 2" :rules        [[:keypad_2 :x :macropad]]}
  ; {:des "|numpad| 3" :rules        [[:keypad_3 :c :macropad]]}
  ;
  ; {:des "|numpad| 0" :rules        [[:keypad_0 :!O1 :macropad]]}
  ; {:des "|numpad| ." :rules        [[:keypad_period :!O2 :macropad]]}
  ; {:des "|numpad| enter" :rules    [[:keypad_enter :!Cescape :macropad]]}

  ; {:des "|numpad| 4" :rules        [[:keypad_4 :vk_consumer_previous :macropad]]}
  ; {:des "|numpad| 5" :rules        [[:keypad_5 :play_or_pause :macropad]]}
  ; {:des "|numpad| 6" :rules        [[:keypad_6 :vk_consumer_next :macropad]]}
  ; ; {:des "|numpad| 1" :rules        [[:keypad_1 :vk_consumer_previous :macropad]]}
  ; ; {:des "|numpad| 2" :rules        [[:keypad_2 :vk_consumer_previous :macropad]]}
  ; ; {:des "|numpad| 3" :rules        [[:keypad_3 :vk_consumer_previous :macropad]]}
  ; {:des "|numpad| 4" :rules        [[:keypad_4 :vk_consumer_previous :macropad]]}
  ; {:des "|numpad| 5" :rules        [[:keypad_5 :play_or_pause :macropad]]}
  ; {:des "|numpad| 6" :rules        [[:keypad_6 :vk_consumer_next :macropad]]}
  ; {:des "|numpad| 7" :rules        [[:keypad_7 [:hammerspoon "maximizeToLeftScreen()"] :macropad]]}
  ; {:des "|numpad| 8" :rules        [[:keypad_8 [:hammerspoon "maximizeToMiddleScreen()"] :macropad]]}
  ; {:des "|numpad| 9" :rules        [[:keypad_9 [:hammerspoon "maximizeToRightScreen()"] :macropad]]}
  ; ; {:des "|numpad| 0" :rules        [[:keypad_0 :vk_consumer_previous :macropad]]}
  ; {:des "|numpad| -" :rules        [[:keypad_hyphen :volume_decrement :macropad]]}
  ; {:des "|numpad| +" :rules        [[:keypad_plus :volume_increment :macropad]]}
  ; {:des "|numpad| backspace" :rules[[:delete_or_backspace [:alfred "lyrics" "com.rudzitis.lyrics"] :macropad]]}
  ; ; {:des "|numpad| /" :rules        [[:keypad_slash :vk_consumer_next :macropad]]}
  ; ; {:des "|numpad| *" :rules        [[:keypad_asterisk :vk_consumer_next :macropad]]}
  ; ; {:des "|numpad| ." :rules        [[:keypad_period :vk_consumer_next :macropad]]}
  ; {:des "|numpad| numlock" :rules  [[:keypad_num_lock [:hammerspoon "hs.reload()"] :macropad]]}
  ; {:des "|numpad| enter" :rules  [[:keypad_enter [:applescript "insert_pry"] :macropad]]}
  ]

 ; ;; code won't read cheatsheet section
 ; ;; ! stand for mandatory
 ; ;; # stand for optional
 ; ;; C T O S for left command control optional shift
 ; ;; F for fn
 ; ;; need to prefix C T O S F with ! or #
 ; :cheatsheet {:!Ca "command a" ;; mandatory left_command
  ;             :!Ta "control a" ;; mandatory left_control
  ;             :!Oa "option a"
  ;             :!Sa "shift a"
  ;             :#Sa "shift a" ;; keycode a, optional left_shift
  ;             :!CTOa "command control option a"
  ;             :!Cspacebar "command space"
  ;             :!Fa "fn a"
  ;             :##a "keycode a optional any"
  ;             :!!a "mandatory hyper(control command option shift) a "}
 }
  ;; !  | means mandatory
    ;; #  | means optional
    ;; C  | left_command
    ;; T  | left_control
    ;; O  | left_option
    ;; S  | left_shift
    ;; F  | fn
    ;; Q  | right_command
    ;; W  | right_control
    ;; E  | right_option
    ;; R  | right_shift
    ;; P  | caps_lock
    ;; !! | mandatory command + control + optional + shift (hyper)
    ;; ## | optional any,w
