snippet todo
# TODO: ${1:add this}
endsnippet

snippet fixme
# FIXME: ${1:fix this}
endsnippet

snippet "\b(de)?f" "def <name>..." r
def ${1:function_name} ${2:${3:*args}}
	${0:# TODO}
end
endsnippet

snippet hashbang
#!/usr/bin/env ruby -wU

$0
endsnippet
# vim:ft=snippets:
